<style>
  #container {
    width: 1400px;
  }
  #oneEmail {
    margin-left: 250px;
    margin-top: 0px;
  }
  #emailNavbar {
    width: 1200px;
    height: 50px;
    position: relative;
    margin-left: 200px;
    margin-top: 0px;
    /* background-color: lightgrey; */
  }
  #backButton {
    width: 20px;
    position: absolute;
    left: 2%;
    top: 14px;
  }
  #trashButton {
    position: absolute;
    left: 10%;
    top: 14px;
    /* visibility: hidden; */
  }
  h1 {
    margin-top: 10px;
    font-weight: normal;
  }
  h3 {
    margin-bottom: 0;
  }
  #sentTo {
    font-size: 10pt;
  }
</style>
<div id="container">

  <div id="emailNavbar">
    {{#link-to "index"}}
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Ic_arrow_back_36px.svg" id="backButton" alt="back arrow">
    {{/link-to}}

    <!-- {{#link-to "trash"}}
      <img src="https://image.flaticon.com/icons/svg/60/60761.svg" id="trashButton" alt="trash">
    {{/link-to}} -->

    <button type="button"
    id="trashButton"
    onclick={{action "deleteEmail" model}}> <!-- data-test="delete-post" -->
          Delete <!-- <img src="https://image.flaticon.com/icons/svg/60/60761.svg" id="trashButton" alt="trash"  width="18px"> -->
      </button>
  </div>

  <div id="oneEmail">
    <h1>{{model.subject}}</h1>
    <h3>{{model.from}}</h3>
    <div id="sentTo">to {{model.to}}, me</div>
    <p id="messagebox">{{model.message}}</p>
  </div>
</div>

{{outlet}}
