<style>

  #container {
    position: absolute;
    top: 8%;
  }
  #one-email {
    margin-left: 250px;
    margin-top: 8%;
    position: relative;

  }
  #action-bar {
    width: 1200px;
    height: 50px;
    position: fixed;
    margin-left: 200px;
    margin-top: 0px;
    /* background-color: lightgrey; */
  }
  #back-button {
    width: 20px;
    position: absolute;
    left: 2%;
    top: 14px;
  }
  #trash-pic {
    position: absolute;
    left: 10%;
    top: 14px;
    /* visibility: hidden; */
  }
  #trash-button {
    border: none;
    position: absolute;
    left:10%;
    top: 0px;
  }
  h1 {
    margin-top: 10px;
    font-weight: normal;
  }
  h3 {
    margin-bottom: 0;
    width: 50%;
  }
  #sent-to {
    font-size: 10pt;
  }
  .star-button {
    width: 20px;
    position: absolute;
    top: 58px;
    right: 40px;
  }
  #message-box {
    width: 80%;
  }
</style>
<div id="container">

  <div id="action-bar">
    {{#link-to "index"}}
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Ic_arrow_back_36px.svg" id="back-button" alt="back arrow">
    {{/link-to}}

    <button type="button"
    id="trash-button"
    onclick={{action "deleteEmail" model}}
    data-test="delete-email">
        <img src="https://image.flaticon.com/icons/svg/60/60761.svg" id="trash-pic" alt="trash"  width="18px">
      </button>
  </div>

  <div id="one-email">
    <div id="one-email-bar">
      <h1 data-test="subject">{{model.subject}}</h1>
      <h3 data-test="from">{{model.from}}</h3>
      <!-- <StarButton id="star-button" @starred={{model.starred}} @onClick={{action "star" email}}/> -->
      <div id="sent-to" data-test="to">to {{model.to}}, me</div>
    </div>
    <p id="message-box" data-test="message">{{model.message}}</p>
  </div>
</div>

{{outlet}}
